stages:
  - test

playwright-tests:
  stage: test
  image: mcr.microsoft.com/playwright:v1.56.1-jammy

  variables:
    CI: 'true'

  before_script:
    - npm ci
    - npx playwright install --with-deps chromium
    - |
      cat << EOF > .env
      TEST_ENV=${TEST_ENV}
      DKIRC_ENTERPRISE_LOGIN_URL=${DKIRC_ENTERPRISE_LOGIN_URL}
      DKIRC_ENTERPRISE_COMPANY_ID=${DKIRC_ENTERPRISE_COMPANY_ID}
      DKIRC_ENTERPRISE_USERNAME=${DKIRC_ENTERPRISE_USERNAME}
      DKIRC_ENTERPRISE_PASSWORD=${DKIRC_ENTERPRISE_PASSWORD}
      EOF

  script:
    - npm run test

  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
    expire_in: 30 days

  only:
    - main
    - develop
    - merge_requests
